<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}">
</head>
<body>
<!--添加搜索框-->
<div class="demoTable">
    搜索视频：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
</div>
<!--搜索状态-->
<div class="demoTable">
    搜索状态：
    <div class="layui-inline">
        <input class="layui-input" name="searchStu" id="searchStu" autocomplete="off">
    </div>
    搜索时间范围：
    <div class="layui-inline">
        <input class="layui-input" name="searchTime" id="searchTime" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" id="videoSearch">搜索</button>
</div>

<!-- 解析数据的表格 -->
<table class="layui-hide" id="video" lay-filter="videotest"></table>

<!-- 自定义的行工具栏 -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="../layui/layui.js" ></script>
<script type="text/javascript" src="../js/video.js"></script>
</body>
</html>
